@use '../styles/core/variables' as varis;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.landing {
    text-align: center;
    border: 2px solid rgb(12, 12, 60);
    background-color: rgb(8, 32, 87);

    &_img {
        width: 100%; 
        height: auto;
    }

    &_title {
        position: absolute;
        top: 4%;
        left: 50%;
        font-size: 20px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(234, 20, 127);
        text-shadow: 
             2px 2px 0px #4e114d,  
            -2px -2px 0px #4e114d, 
            2px -2px 0px #4e114d, 
            -2px 2px 0px #4e114d; 

            @include varis.tablet {
                font-size: 30px;
            }
    }

    &_titleSub {
        color: white;
        font-size: 14px;

        @include varis.tablet {
            font-size: 18px;
        }
    }

    &_cloud {
        height: 30px;
        width: 30px;

        @include varis.tablet {
            height: 40px;
            width: 40px;
        }
    }
}
.li {
    text-decoration: none;
    color: white;
}
.header {
    text-align: center;

    &_title {
        word-spacing: 20px;
        font-size: 25px;
        padding-block: 20px;
        padding-inline: 25px;
        font-size: 2rem;
        font-weight: bold;
        background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_list {
        background-color: rgb(8, 32, 87);
       justify-content: center;
        padding: 10px;
        color: rgb(245, 121, 245);
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid rgb(90, 117, 182);
    }

    &_pages {
        margin-inline: 20px;
        margin-bottom: 15px;
        color: rgb(245, 121, 245);
        text-decoration: none;
    }
}

main {
    background-color: rgb(8, 32, 87);
    color: rgb(245, 121, 245);
    text-align: center;
}


.form {
    margin-top: 25px;
    align-items: center;
    &_display {
        display: grid;
    }

    &_filter {
        
        font-size: 20px;
        color: rgb(90, 117, 182);
    }

    &_title {
        width: 280px;
        height: 30px;
        border-radius: 8px;
        border: 2px solid rgb(37, 190, 139);
    }

    &_author {

    }
}
.book {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    grid-row-gap: 20px;
    color: white;
    

    @include varis.tablet {
        margin-inline: 10px;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        grid-row-gap: 15px;
    }

    @include varis.desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    
    &_list a {
        text-decoration: none;
        list-style: none;
    }

    &_list {
        list-style: none;
        text-align: center;
        align-items: center;     
        justify-content: center;
        list-style-type: none;
        width: 220px;
        height: 300px;
        border-radius: 3%;
        border: solid rgb(245, 121, 245);
        background-color: rgb(90, 117, 182);

        @include varis.tablet {
            width: 230px;
            height: 200px;
        }

        @include varis.desktop {
            width: 280px;
            height: 450px;
        }
    }

    &_image { 
        margin-block: 15px;
        width: 180px;   
        height: 200px; 

        @include varis.desktop { 
            width: 240px;   
            height: auto;   
        }
    }

    &_title {
        font-size: 16px;
    }
    
    &_age {

    }

}

